<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <form>
      <a href="/books/add" class="btn btn-default">Add</a> </button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>ISBN</th>
          <th>TITLE</th>
          <th>AUTHOR</th>
          <th>CATEGORY</th>
          <th>STOCK</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0;i < bookData.length;i++) { %>
        <tr>
          <th scope="row"> <%= i + 1 %> </th>
          <td><%= bookData[i].isbn %></td>
          <td><%= bookData[i].title %></td>
          <td><%= bookData[i].author %></td>
          <td><%= bookData[i].category %></td>
          <td><%= bookData[i].stock %></td>
          <td><a href="/update/<%= bookData[i].id %>" class="btn btn-info">update</a>
             <a href="/delete/<%= bookData[i].id %>" onclick="return confirm('hapus title: <%= bookData[i].title %>')" class="btn btn-danger">delete</a> </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
